body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20{
    margin-top:20px;
}

.body-content {
    margin-top: 20px;
}

.numberbg {
    background-color: darkgray;
    color: white;
    padding: 3px;
}

.categorybg {
    background-color: darkcyan;
    color: white;
    padding: 3px;
}

.viewsbg {
    background-color: forestgreen;
    color: white;
    padding: 3px;
}

.question-author{
    color: darkturquoise;
}

.question-date {
    color: forestgreen;
}
