@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>
    
    


    <div class="row">
        <div class="col-md-12">
            <p>
                Stack Overflow is the largest, most trusted online community for developers to learn, share their knowledge, and build their careers. More than 50 million
                professional and aspiring programmers visit Stack Overflow each month to help solve coding problems, develop new skills, and find job opportunities.
            </p>
            <p>
                Stack Overflow partners with businesses to help them understand, hire, engage, and enable the world's developers. Our products and services are focused on developer marketing,
                technical recruiting, market research, and enterprise knowledge sharing. Learn more about our business solutions here.
            </p>
        </div>
    </div>

</div>





