@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p>If you have any questions or troubels using our website, please contact our support team.</p>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />    
</address>